<div id=<%=name%> class="card">
  <div class="content">
    <h2 class="ui green header centered">
      <%= link_to name, '#' %>
    </h2>
    <%= image_tag image_link, style: 'height:auto;width:100%;' %>
  </div>

  <div class="extra content">
    <div class="ui two buttons">
      <div class="ui basic green button"><%= t('More')%></div>
      <div class="ui basic red button"><%= t('Buy')%></div>
    </div>
  </div>
</div>