<%= render partial: 'home/sidebar' %>
<div class="pusher">
  <div class="ui vertical aligned center segment landing">
    <div class="ui container">
      <%= render partial: 'home/top_menu' %>
      <%= render partial: 'home/content' %>
      <%= render partial: 'home/payment' %>
      <%= render partial: 'home/delivery' %>
    </div>
  </div>
</div>